[Unit]
Description=Aingle
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/aingle
LimitNOFILE=4096
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=aingle
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=aingle
WorkingDirectory=/var/lib/aingle
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/aingle $OPTIONS

[Install]
WantedBy=multi-user.target
